.label {
    /*-fx-font-weight: 300;*/
    /*-fx-font-family: "PingFang SC";*/
    /*-fx-focus-color: transparent;*/
    /*-fx-faint-focus-color: transparent;*/
}

.scroll-pane > .viewport  {
    -fx-background-color: transparent;
}

.scroll-pane {
    /*-fx-background: transparent;*/
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    /*-fx-padding: 0;*/
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* The main scrollbar **track** CSS class  */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* Separator */

.separator:horizontal .line {
    -fx-border-color: #dddddd transparent transparent transparent,
    -fx-shadow-highlight-color transparent transparent transparent;
    -fx-border-insets: 0, 1 0 0 0;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
    transparent transparent transparent #dddddd;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}